body {
  background-color: #ffffff;
  background-image: radial-gradient(ellipse at center,
  rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%),
  url('https://www.csstextures.com/drops-T168.png');
  background-repeat: repeat;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input:invalid {
  border: 2px solid rgb(116, 223, 16);
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
  border: 2px solid black;
}
input:invalid {
  box-shadow: 0 0 7px 3px rgb(34, 37, 34);
}
input:focus:invalid {
  box-shadow: none;
}